Source: libtertiusqbit-xgettext-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libtest-differences-perl, perl, libtertiusqbit-perl, libtertiusqbit-class-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-xgettext-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-class-perl
Conflicts: qbit-xgettext
Replaces: qbit-xgettext
Description: QBit gettext extractor.
 QBit gettext extractor.
